In [1]:
# ======================
# Miami Market Dashboard
# ======================
# This colab will:
# 1. Load Redfin CSV housing data
# 2. Clean the dataset for core Miami markets
# 3. Prepare the data for visualization and analysis

In [2]:
# Step 1. Install and Import Libraries

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Step 2. Upload file

from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

In [25]:
df = pd.read_csv('data.csv', encoding='utf-16', sep='\t')
print(df.head())

            Region Month of Period End Median Sale Price  \
0  Miami Beach, FL        January 2012             $235K
1  Miami Beach, FL       February 2012             $273K
2  Miami Beach, FL          March 2012             $280K
3  Miami Beach, FL          April 2012             $310K
4  Miami Beach, FL            May 2012             $300K

  Median Sale Price MoM  Median Sale Price YoY  Homes Sold Homes Sold MoM   \
0                  -9.4%                  38.2%        236          -16.3%
1                  16.0%                  19.0%        222           -5.9%
2                   2.8%                   7.1%        303           36.5%
3                  10.7%                  31.9%        303            0.0%
4                  -3.2%                  15.4%        322            6.3%

  Homes Sold YoY  New Listings New Listings MoM  New Listings YoY  Inventory  \
0            6.3%          NaN               NaN               NaN       NaN
1          -12.3%          NaN               NaN               NaN       NaN
2           -5.3%          NaN               NaN               NaN       NaN
3            4.1%          NaN               NaN               NaN       NaN
4           -5.0%          NaN               NaN               NaN       NaN

  Inventory MoM   Inventory YoY  Days on Market Days on Market MoM  \
0            NaN             NaN            NaN                NaN
1            NaN             NaN            NaN                NaN
2            NaN             NaN            NaN                NaN
3            NaN             NaN            NaN                NaN
4            NaN             NaN            NaN                NaN

  Days on Market YoY Average Sale To List Average Sale To List MoM   \
0                NaN                94.4%                      0.4%
1                NaN                94.9%                      0.5%
2                NaN                94.3%                     -0.5%
3                NaN                94.3%                      0.0%
4                NaN                94.2%                     -0.2%

  Average Sale To List YoY
0                     -0.1%
1                      1.0%
2                      0.9%
3                      0.7%
4                      0.7%

In [26]:
# Step 3. Explore the dataset
print('\nUnique Regions in Dataset:')
print(df['Region'].unique())

Unique Regions in Dataset:
['Miami Beach, FL' 'Miami Gardens, FL' 'Miami Lakes, FL'
 'Miami Shores, FL' 'Miami Springs, FL' 'Miami-Dade County, FL'
 'Miami, FL' 'Miami, FL metro area' 'North Miami Beach, FL'
 'North Miami, FL' 'South Miami Heights, FL' 'South Miami, FL'
 'West Miami, FL']

In [28]:
# Step 4. Filter for Miami metros by defining markets to keep
miami_core = [
    'Miami Beach, FL',
    'Miami-Dade County, FL',
    'Miami, FL metro area']

df_filtered = df[df['Region'].isin(miami_core)]

print('\nUnique Regions in Filtered Dataset:')
print(df_filtered['Region'].unique())

Unique Regions in Filtered Dataset:
['Miami Beach, FL' 'Miami-Dade County, FL' 'Miami, FL metro area']

In [29]:
df_filtered.to_csv('miami_core.csv', index=False)
print('\nCleaned dataset saved as miami_core.csv')

Cleaned dataset saved as miami_core.csv

In [30]:
# Starting Further Data Pre-Processing

import pandas as pd

miami_data = pd.read_csv('miami_core.csv')

miami_data.head()

,Region,Month of Period End,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,New Listings MoM,New Listings YoY,Inventory,Inventory MoM,Inventory YoY,Days on Market,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY
0,"Miami Beach, FL",January 2012,$235K,-9.4%,38.2%,236,-16.3%,6.3%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.4%,0.4%,-0.1%
1,"Miami Beach, FL",February 2012,$273K,16.0%,19.0%,222,-5.9%,-12.3%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.9%,0.5%,1.0%
2,"Miami Beach, FL",March 2012,$280K,2.8%,7.1%,303,36.5%,-5.3%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.3%,-0.5%,0.9%
3,"Miami Beach, FL",April 2012,$310K,10.7%,31.9%,303,0.0%,4.1%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.3%,0.0%,0.7%
4,"Miami Beach, FL",May 2012,$300K,-3.2%,15.4%,322,6.3%,-5.0%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.2%,-0.2%,0.7%

In [31]:
miami_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Region                     489 non-null    object
 1   Month of Period End        489 non-null    object
 2   Median Sale Price          489 non-null    object
 3   Median Sale Price MoM      489 non-null    object
 4   Median Sale Price YoY      489 non-null    object
 5   Homes Sold                 489 non-null    object
 6   Homes Sold MoM             489 non-null    object
 7   Homes Sold YoY             489 non-null    object
 8   New Listings               402 non-null    object
 9   New Listings MoM           399 non-null    object
 10  New Listings YoY           366 non-null    object
 11  Inventory                  402 non-null    object
 12  Inventory MoM              399 non-null    object
 13   Inventory YoY             366 non-null    object
 14  Days on Market             435 non-null    float64
 15  Days on Market MoM         432 non-null    float64
 16  Days on Market YoY         399 non-null    float64
 17  Average Sale To List       489 non-null    object
 18  Average Sale To List MoM   489 non-null    object
 19  Average Sale To List YoY   489 non-null    object
dtypes: float64(3), object(17)
memory usage: 76.5+ KB

In [32]:
miami_data.isna().sum()

Region                         0
Month of Period End            0
Median Sale Price              0
Median Sale Price MoM          0
Median Sale Price YoY          0
Homes Sold                     0
Homes Sold MoM                 0
Homes Sold YoY                 0
New Listings                  87
New Listings MoM              90
New Listings YoY             123
Inventory                     87
Inventory MoM                 90
 Inventory YoY               123
Days on Market                54
Days on Market MoM            57
Days on Market YoY            90
Average Sale To List           0
Average Sale To List MoM       0
Average Sale To List YoY       0
dtype: int64

In [37]:
# Drop columns that are not need for analysis
cols_to_drop = [col for col in miami_data.columns if 'New Listings' in col]
miami_data = miami_data.drop(columns=cols_to_drop)
miami_data.columns

Index(['Region', 'Month of Period End', 'Median Sale Price',
       'Median Sale Price MoM ', 'Median Sale Price YoY ', 'Homes Sold',
       'Homes Sold MoM ', 'Homes Sold YoY ', 'Inventory', 'Inventory MoM ',
       ' Inventory YoY ', 'Days on Market', 'Days on Market MoM',
       'Days on Market YoY', 'Average Sale To List',
       'Average Sale To List MoM ', 'Average Sale To List YoY '],
      dtype='object')

In [38]:
miami_data['Region'].value_counts()

Region
Miami Beach, FL          163
Miami-Dade County, FL    163
Miami, FL metro area     163
Name: count, dtype: int64

# **Install FRED API to merge macroeconomic data**

In [39]:
#Install FRED API

!pip install fredapi

Collecting fredapi
  Downloading fredapi-0.5.2-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from fredapi) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas->fredapi) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->fredapi) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->fredapi) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->fredapi) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->fredapi) (1.17.0)
Downloading fredapi-0.5.2-py3-none-any.whl (11 kB)
Installing collected packages: fredapi
Successfully installed fredapi-0.5.2

In [40]:
from fredapi import Fred
import pandas as pd

In [41]:
# Set API key
fred = Fred(api_key='b966f61a9a6b5497159826315120b350')

In [44]:
#Pull interest rates and treasury bond rates

#Fed Funds Rate
fed_funds = fred.get_series('FEDFUNDS', observation_start='2015-01-01')
fed_funds = fed_funds.reset_index()
fed_funds.columns = ['Date', 'Fed Funds Rate']

#10-Yr Treasury Rate
tres_10yr = fred.get_series('DGS10', observation_start='2015-01-01')
tres_10yr = tres_10yr.reset_index()
tres_10yr.columns = ['Date', '10-Yr Treasury Rate']

#Convert Date column to datetime
fed_funds['Date'] = pd.to_datetime(fed_funds['Date'])
tres_10yr['Date'] = pd.to_datetime(tres_10yr['Date'])

In [46]:
#Pull inflation rates

cpi = fred.get_series('CPIAUCSL', observation_start='2015-01-01')
cpi = cpi.pct_change(periods=12)*100 #Year over year inflation %
cpi = cpi.reset_index()
cpi.columns = ['Date', 'Inflation Rate']
cpi['Date'] = pd.to_datetime(cpi['Date'])

In [47]:
#Population Migration Data for Miami

pop = fred.get_series('FLMIAM6POP', observation_start='2015-01-01')
pop = pop.reset_index()
pop.columns = ['Date', 'Miami-Dade Population']
pop['Date'] = pd.to_datetime(pop['Date'])